# Entorno virtual
venv/
.env

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración de PyCharm, VSCode, etc.
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de base de datos
*.sqlite3
*.db

# Archivos de migraciones
**/migrations/*.py
**/migrations/*.pyc
!*/migrations/__init__.py

# Archivos estáticos y media generados
staticfiles/
media/
static/

# Archivos temporales
*.log
*.pot
*.pyc
.DS_Store
Thumbs.db

# Archivos de pruebas
htmlcov/
coverage.xml
*.cover
.tox/
nosetests.xml
testdb.sqlite3

# Archivos de documentación
*.bak
*.swp
*.tmp
